/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$font: Sans-serif, Arial, Verdana;

 body {
  background: #fff;
  font-family: $font;
  text-align: center;
 }

#wrapper {
  width: 1000px;
  margin: 0 auto;
  background: #e1e1e1;
  border: 8px solid #E1E1E1;
  border-width-top: 16px;
}

#topbanner {
  text-align: center;
  background:#fff;
  margin-bottom: 12px;
  .sitelogo {
    text-align: center;
    background: url(http://www.eio.org.uk/img/bg_logo.png);
    display: inline-block;
    margin: 0 auto;
    width: 850px;
    height: 71px;
  }

}

#surveyor {
  background: #fff;
  font-family: $font;
}
.input {
  font-size: 125%;
}

#surveyor {
  fieldset {
    input[type="text"] {
      display: block;
      font-size: 1em;
      padding: 8px;
      width: 90%;
    }
    textarea {
      display: block;
      font-size: 1em;
      padding: 8px;
      width: 90%;
    }
  }
}

.quiet { 
display: none;
}