<!DOCTYPE html>
<html>
<head>
  <title>EIOSurvey</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="top-logo">
  <a class="sitelogo" href="./index.php" title="Home"></a>
</div>

<%= yield %>

</body>
</html>
